* {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  padding-top: 10px;
  font-size: 20pt;
}

.photo {
  display: inline-block;
  padding-left: 20px;
}

.contact {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 170px;
  font-size: 12pt;
}

header {
  margin-left: 30px;
  padding-left: 20px;
  padding-bottom: 40px;
}

body {
  background-image: url("../assets/back1024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10pt;
  padding: 100px 40px 55px 140px;
}

ul {
  margin-left: 30px;
}
